/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #2e8555;
  --ifm-color-primary-tag: #2e855522;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* [data-theme='dark'] {
  --ifm-color-primary: #a6ff80;
  --ifm-color-primary-dark: #8bff5a;
  --ifm-color-primary-darker: #7eff47;
  --ifm-color-primary-darkest: #55ff0d;
  --ifm-color-primary-light: #c1ffa6;
  --ifm-color-primary-lighter: #ceffb9;
  --ifm-color-primary-lightest: #f7fff3;
  --ifm-background-color: #1c1c1c;
} */
/* For readability concerns, you should choose a lighter palette in dark mode. */
:root {
  --ifm-color-primary: var(--primary-400);
  --ifm-color-primary-tag: #77c66c22;
  --ifm-color-primary-dark: var(--primary-500);
  --ifm-color-primary-darker: var(--primary-600);
  --ifm-color-primary-darkest: var(--primary-700);
  --ifm-color-primary-light: var(--primary-300);
  --ifm-color-primary-lighter: var(--primary-200);
  --ifm-color-primary-lightest: var(--primary-100);
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
  /* --ifm-background-color: #111 !important; */
  --ifm-navbar-background-color: var(--background-900) !important;
  --ifm-color-scheme: dark !important;
  --ifm-card-background-color: var(--background-900);
  --ifm-color-emphasis-0: var(--ifm-color-gray-1000) !important;
  --ifm-color-emphasis-100: var(--ifm-color-gray-900) !important;
  --ifm-color-emphasis-200: var(--ifm-color-gray-800) !important;
  --ifm-color-emphasis-300: var(--ifm-color-gray-700) !important;
  --ifm-color-emphasis-400: var(--ifm-color-gray-600) !important;
  --ifm-color-emphasis-500: var(--ifm-color-gray-500) !important;
  --ifm-color-emphasis-600: var(--ifm-color-gray-400) !important;
  --ifm-color-emphasis-700: var(--ifm-color-gray-300) !important;
  --ifm-color-emphasis-800: var(--ifm-color-gray-200) !important;
  --ifm-color-emphasis-900: var(--ifm-color-gray-100) !important;
  --ifm-color-emphasis-1000: var(--ifm-color-gray-0) !important;
  --ifm-background-color: var(--background-950) !important;
  --ifm-background-surface-color: #242526 !important;
  --ifm-hover-overlay: rgba(255, 255, 255, 0.05) !important;
  --ifm-color-content: #e3e3e3 !important;
  --ifm-color-content-secondary: rgba(255, 255, 255, 1) !important;
  --ifm-breadcrumb-separator-filter: invert(64%) sepia(11%) saturate(0%) hue-rotate(149deg) brightness(99%) contrast(95%) !important;
  --ifm-code-background: rgba(255, 255, 255, 0.1) !important;
  --ifm-scrollbar-track-background-color: #444444 !important;
  --ifm-scrollbar-thumb-background-color: #686868 !important;
  --ifm-scrollbar-thumb-hover-background-color: #7a7a7a !important;
  --ifm-table-stripe-background: rgba(255, 255, 255, 0.07) !important;
  --ifm-toc-border-color: var(--ifm-color-emphasis-200) !important;
  --ifm-color-primary-contrast-background: rgb(16, 36, 69) !important;
  --ifm-color-primary-contrast-foreground: rgb(235, 242, 252) !important;
  --ifm-color-secondary-contrast-background: rgb(71, 71, 72) !important;
  --ifm-color-secondary-contrast-foreground: rgb(253, 253, 254) !important;
  --ifm-color-success-contrast-background: rgb(0, 49, 0) !important;
  --ifm-color-success-contrast-foreground: rgb(230, 246, 230) !important;
  --ifm-color-info-contrast-background: rgb(25, 60, 71) !important;
  --ifm-color-info-contrast-foreground: rgb(238, 249, 253) !important;
  --ifm-color-warning-contrast-background: rgb(77, 56, 0) !important;
  --ifm-color-warning-contrast-foreground: rgb(255, 248, 230) !important;
  --ifm-color-danger-contrast-background: rgb(75, 17, 19) !important;
  --ifm-color-danger-contrast-foreground: rgb(255, 235, 236) !important;
  --ifm-color-white: #fff !important;
  --ifm-color-black: #000 !important;
  --ifm-color-gray-0: var(--ifm-color-white) !important;
  --ifm-color-gray-100: var(--background-100) !important;
  --ifm-color-gray-200: var(--background-200) !important;
  --ifm-color-gray-300: var(--background-300) !important;
  --ifm-color-gray-400: var(--background-400) !important;
  --ifm-color-gray-500: var(--background-500) !important;
  --ifm-color-gray-600: var(--background-600) !important;
  --ifm-color-gray-700: var(--background-700) !important;
  --ifm-color-gray-800: var(--background-800) !important;
  --ifm-color-gray-900: var(--background-900) !important;
  --background-900-t: #0d0d0d;
  --ifm-color-gray-1000: var(--ifm-color-black) !important;
  --text-50: #f0f6ef;
  --text-100: #e1edde;
  --text-200: #c3dabe;
  --text-300: #a5c89d;
  --text-400: #87b67c;
  --text-500: #69a35c;
  --text-600: #548349;
  --text-700: #3f6237;
  --text-800: #2a4125;
  --text-900: #152112;
  --text-950: #0a1009;
  
  --background-50: #f2f2f2;
  --background-100: #e6e6e6;
  --background-200: #cccccc;
  --background-300: #b3b3b3;
  --background-400: #999999;
  --background-500: #808080;
  --background-600: #666666;
  --background-700: #4d4d4d;
  --background-800: #333333;
  --background-900: #1a1a1a;
  --background-950: #0d0d0d;
  
  --primary-50: #eef8ed;
  --primary-100: #ddf1da;
  --primary-200: #bbe2b6;
  --primary-300: #99d491;
  --primary-400: #77c66c;
  --primary-500: #54b847;
  --primary-600: #449339;
  --primary-700: #336e2b;
  --primary-800: #22491d;
  --primary-900: #11250e;
  --primary-950: #081207;
  
  --secondary-50: #edf8ec;
  --secondary-100: #dcf2d9;
  --secondary-200: #b8e5b3;
  --secondary-300: #95d88d;
  --secondary-400: #71cb67;
  --secondary-500: #4ebe41;
  --secondary-600: #3e9834;
  --secondary-700: #2f7227;
  --secondary-800: #1f4c1a;
  --secondary-900: #10260d;
  --secondary-950: #081307;
  
  --accent-50: #ecfaeb;
  --accent-100: #d9f5d6;
  --accent-200: #b4ebad;
  --accent-300: #8ee085;
  --accent-400: #68d65c;
  --accent-500: #42cc33;
  --accent-600: #35a329;
  --accent-700: #287a1f;
  --accent-800: #1b5214;
  --accent-900: #0d290a;
  --accent-950: #071405;
  
  

}

.icosearch {
  background: var(--background-800);
  border: 1px solid var(--background-700);
  padding: 0.5em 1em;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icoenter {
  background: var(--accent-800);
  border: 1px solid var(--accent-700);
  padding: 0.5em 1em;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  transition: all 350ms ease;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icosearchbar {
  display: flex;
  gap: 10px;
}
.icoenter:hover {
  background: var(--accent-700);
}
.hero {
  background: var(--background-900);
  background-image: url(/img/bg.png);
  background-size: cover;
  position: relative;
  /* border-radius: 10px; */
  /* margin: 10px; */
  background-position: center;
  color: white;
}
.hero h1,.hero p {
  text-shadow: 1px 2px 5px rgba(0,0,0,100%) !important;
}
.hero::after {
  background-image: linear-gradient(to bottom, transparent 20%, var(--background-950) 100%);
  background-size: cover;
  background-position: center;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 50%;
  content: "";
}
.hero .container {
  /* background: rgba(0,0,0,15%);
  backdrop-filter: blur(4px);
  width: 100%;
  height: 100%;
  max-width: unset;
  max-height: unset;
  margin: 0;
  padding: 0; */
}
.hero .button {
  background: rgba(75,75,75,40%);
  color: #ffffff99;
  backdrop-filter: blur(2px);
  border: 1px solid rgba(135,135,135,60%);
  transition: all 250ms ease;
}
.hero .button:hover {
  border: 1px solid transparent;
  background: rgba(135,135,135,60%);
}
.hero .button * {
  color: #ffffff99 !important;
}
.hero > * {
  z-index: 100;
}
.mobile-card-list {
  justify-content: center;
}
.feature-card {
  max-width: 300px;
  width: 100%;
}
@media(max-width: 700px) {
  .mobile-card-list {
    flex-direction: column;
  }
}